@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

html, body {
    box-sizing: border-box;
    height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.container {
    display: flex;
    height: 100vh;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    animation: 1s ease-out slideAndFade
}

@keyframes slideAndFade {
    0% {
        transform: translateX(-5%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.about-me {
    color: #FFF;
    line-height: 1.2;
    width: 70%;
    text-align: left;
    font-weight: 700;
    font-size: 3em;
}

.regular-text {
    display: flex;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #FFF;
    font-size: .4em;
}

    .about-me a, .about-me a:active, .regular-text a, .regular-text a:active {
        color: #FFF;
        margin-left: 15px;
    }

.first {
    margin-left: -12px !important;
}

.about-me a:visited, .about-me a:visited, .regular-text a:visited, .regular-text a:visited {
    color: #FFF;
}

.tim a:hover, .links a:hover {
    color: #22ec36;
    transition: .5s ease;
}